<launch>

    <node name="MarvTeleop" pkg="marv_teleop" type="marv_joy" output="screen">
        <rosparam command="load" file="$(find marv_teleop)/config/buttons_mapping.yaml"/>
        <rosparam command="load" file="$(find marv_teleop)/config/limits.yaml"/>
        <rosparam command="load" file="$(find robot_rodeo_gym)/robots/marv/config/xbox_output_mapping.yaml"/>
    </node>

 </launch>
